<h1>Exercice 1 - Utilisation de Git</h1>

<h2>Tâches</h2>
<ol>
  <li>Répondre aux questions ci-dessous</li>
  <li>Créer une branche avec le pattern suivant: "feat/your_name"</li>
  <li>Après chaque exercice modifiant le code, créer un nouveau commit</li>
  <li>À la fin du dernier exercice, pousser la branche</li>
</ol>

<h2>Questions</h2>
<form class="flex flex-col" [formGroup]="form">
  <mat-form-field appearance="outline">
    <mat-label>Combien y a-t-il de tag(s) ?</mat-label>
    <input matInput formControlName="tags" type="number" required />
    <mat-icon [color]="(isTagNumberValid$ | async) ? 'primary' : 'warn'" matSuffix>
      {{ (isTagNumberValid$ | async) ? 'check' : 'close' }}
    </mat-icon>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Quel est le nom de la branche principale ?</mat-label>
    <input matInput  formControlName="branch" type="text" required />
    <mat-icon [color]="(isBranchValid$ | async) ? 'primary' : 'warn'" matSuffix>
      {{ (isBranchValid$ | async) ? 'check' : 'close' }}
    </mat-icon>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Quel sont les 5 premiers caractères du hash du premier commit de la branche principale ?</mat-label>
    <input matInput formControlName="hash" type="text" required />
    <mat-icon [color]="(isHashValid$ | async) ? 'primary' : 'warn'" matSuffix>
      {{ (isHashValid$ | async) ? 'check' : 'close' }}
    </mat-icon>
  </mat-form-field>
</form>
