<mat-toolbar class="flex w-full justify-between">
  <span class="font-bold">Everysens</span>
  <span>Live Coding #1</span>
  <span>{{elapsedTime()}} / 1h00m00s</span>
</mat-toolbar>
<mat-sidenav-container class="h-full">
  <mat-sidenav class="w-64" mode="side" opened>
    <mat-nav-list>
      <a mat-list-item routerLink="git">Exercice 1 - Git</a>
      <a mat-list-item routerLink="standalone">Exercice 2 - Composant standalone</a>
      <a mat-list-item routerLink="custom">Exercice 3 - Composant custom</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <main class="w-1/2 m-auto">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
